:root {
    --main-color: #5AA9FF;
    --high-color: #8D1F1F;
    --back-color: #F3EED9;
}

* {
    padding: 0em;
    margin: 0em; 
}

body {
    background-color: var(--back-color);
    color: var(--main-color);
}

b {
    color: var(--high-color);
}

h1 {
    color: var(--back-color);
    background-color: var(--high-color);
    padding: .5rem;
}

div {
    padding: .5rem;
}

blockquote {
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    border-color: var(--high-color);
    border-style: solid;
    margin: .5rem;
}

button {
    color: var(--back-color);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    border-style: none;
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

button:hover {
    background-color: var(--high-color);
}