* {
    padding: 0em;
    margin: 0em; 
}

body {
    background-color: #282c31;
    color: #CE4F4F;
}

b {
    color: #FF7573;
}

h1 {
    color: #282c31;
    background-color: #FF7573;
    padding: .5rem;
}

div {
    padding: .5rem;
}

blockquote {
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    border-color: #FF7573;
    border-style: solid;
    margin: .5rem;
}

button {
    color: #282c31;
    font-weight: bold;
    background-color: #CE4F4F;
    border-radius: 1rem;
    border-style: none;
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

button:hover {
    background-color: #FF7573;
}